.container {
  display: flex;
  height: 100vh;
  text-align: flex;
}
.container>.left{

}
.right>form>.sub {
  display: block;
  width: 100%;
  height: 38px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #2F4F4F;
  background-size: 100%;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}
.right>form>.sub:hover{
  color: #4402FF
}